# Thêm vào application.properties
app.upload-dir=uploads
spring.servlet.multipart.max-file-size=5MB
spring.servlet.multipart.max-request-size=6MB
spring.jpa.properties.hibernate.default_batch_fetch_size=50
# giữ ddl-auto=validate để Hibernate báo ngay nếu entity lệch V1
